
.search-form {
 
  padding: 15px;
  background-color: rgb(78, 47, 218);
  margin-bottom: 30px;
  width: 100%;
  height: 50px;
}

.overlay {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input{
  width: 250px;
  height: 25px;
  border-radius: 5px;
}

.button {

  right: 0px;
  border: 0px;
  color:#81c6db9e;
  background-color: inherit;
}

.icon {
  width: 25px;
  height: 25px;
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  
}
.gallery {
margin: 0 auto;
display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);

}
.photo-card {
  background-color: #fff;
  margin: 5px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 3px 7px 18px -1px rgba(90, 66, 66, 1);
 max-width: 100%;
&:focus,
  &:hover {
    box-shadow: inset 3px 7px 18px -1px rgba(90, 66, 66, 1);
  }
  }

.photo-card-image{
 width: 100%;
 height: 250px;
}
.info{
  
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.info-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  &+&{
    padding: 5px;
    margin-left: 10px;
  }
  & span{
    font-weight: 300;
  }
}


///////////////////////



